* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 221, 235);
    position: relative;
}

header {
    width: 818px;
    height: auto;
    margin: auto;
    padding: 25px;
    background-color: whitesmoke;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__icons,
.header__icons {
    display: flex;
    padding: 0;
    margin: 0;
}

.social__items,
.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__lists,
.header__lists {
    margin-left: 10px;
}

/* Additional styles for icons */
.social__lists svg,
.header__lists svg {
    display: block;
    width: 14px;
    height: 16px;
}

.social__lists svg:hover {
    fill: grey;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.header__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.header__h1 {
    text-align: center;
    font-family: "Playfair", serif;
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    line-height: 50px;
}

.header__p {
    text-align: center;
    font-family: "Playfair", serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.32px;
    line-height: 23px;
}

.header__nav__container {
    background-color: black;
    width: 818px;
    margin: auto;
    height: 100%;
    padding: 11px;
}

.nav__list a:hover {
    color: whitesmoke;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.nav__list a {
    color: grey;
    text-decoration: none;
    text-align: center;
    font-family: "Playfair", serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.32px;
    line-height: 23px;
}

.nav__list {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 19px;
}

/* Slider Section */

.swiper__section{
    max-width: 818px;
    overflow: hidden;
    margin: auto;
}

.swiper__container {
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 730px;
    object-fit: scale-down;
    padding: 25px;
}

/* ARTICLE SECTION */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

input,
textarea {
    outline: none;
}

ul,
li {
    list-style: none;
}

button,
a {
    cursor: pointer;
}

/* end of reset */

.content__section {
    background-color: rgb(234, 221, 235)6;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 428px;
}

.content__container {
    width: 350px;
    margin: 0 auto;
}

.content__container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 50px;
}

.content__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 30px 0;
    background-color: #fff;
}

.content__item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 34px 12px 0 12px;
}

.content__header {
    display: flex;
    background-color: #fff;
}

.content__date {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 12px 8px;
}

.content__date-span {
    font-size: 28px;
    margin-bottom: 5px;
}

.content__main-header {
    font-family: "Playfair Display", serif;
    background-color: #fff;
    padding: 0 10px 5px;
    position: absolute;
    bottom: 76%;
    left: 65px;
    z-index: 2;
}

.content__main-header:hover {
    text-decoration: underline;
}

.content__title {}

.content__author {
    text-transform: uppercase;
    font-size: 12px;
}

.author__span {
    font-weight: bold;
}

.content__tags {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: underline;
}

.content__img {}

.content__description {
    font-size: 14px;
    line-height: 24px;
    color: #535353;
    font-weight: 400;
    margin: 23px 0;
}

.content__comments {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    color: #000;
    letter-spacing: 0.5px;
    margin: 16px 0 8px;
}

.content__button {
    font-style: normal;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    padding: 7px 15px 9px;
    font-size: 12px;
    line-height: 1.7em;
    text-transform: uppercase;
    background-color: #000;
    border: none;
    letter-spacing: 1px;
    color: #fff;
    width: 169px;
}

.content__button:hover {
    background-color: #000000be;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content__hr {
    display: block;
    border: 0;
    border-top: 2.5px solid #000000;
}

.content__olderpost-btn {
    width: 78px;
    height: 78px;
    letter-spacing: 1px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}

.content__olderpost-btn:hover {
    background-color: #000000be;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer section ===========================================*/
.footer__section {
    color: #fff;
    background-color: #000;
}

.footer__innercontainer {
    padding: 50px 20px;
    background-color: #000;
}

.footer__header {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 38px;
    letter-spacing: 5px;
}

.footer__description {
    margin: 30px 0;
    font-size: 14px;
    color: #797979;
}

.recent-posts__header {
    margin: 38px 0 20px 0;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.footer__link-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.recent-post__link {
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    color: #797979;
    text-transform: uppercase;
    font-size: 12px;
}

.recent-post__link:hover {
    color: #fff;
}

.recent-post__date {
    text-transform: capitalize;
    font-size: 14px;
}

.footer__categories-header {
    margin: 38px 0 20px 0;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.categories__list-item {
    font-family: "Playfair Display", serif;
    color: #797979;
    text-transform: uppercase;
    font-size: 12px;
    margin: 6px 0;
}

.categories__list-item:hover {
    color: white;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 818px;
    }

    .content__container {
        width: 650px;
        margin: 0 auto;
    }

    .content__main-header {
        bottom: 85%;
        left: 68px;
        width: 500px;
    }
}

@media screen and (min-width: 1024px) {
    /* .container {
    min-width: 1024px;
  } */

    .content__container {
        width: 818px;
        margin: 0 auto;
    }

    .content__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
        column-gap: 20px;
    }

    .content__item {
        width: 240px;
    }

    .content__main-header {
        bottom: 76%;
        left: 65px;
        width: auto;
    }

    /* footer section */
    .footer__innercontainer {
        display: flex;
        column-gap: 30px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__info {
        width: 150px;
    }

    .recent-posts__header,
    .footer__categories-header {
        margin-top: 0;
    }

    .footer__vrline {
        height: 300px;
        border-color: #797979;
        border-width: 1px;
    }
}